@import "coderay";

/* Base class */
.example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  @include border-radius(6px 0 6px 0);
}

/* Echo out a label for the example */
.example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  @include border-radius(6px 0 6px 0);
}

.description {

}

.meta {
  @extend .well;

  .method {
    @extend .label;
    @extend .label-info;
    display: inline-block;
  }

  .url {
    display: inline-block;
    font-family: $monoFontFamily;
  }
}
