%h4#about <small>1.1</small> About this API

%p
  This documentation describes the resources that compose the official Welcu API
  v1.
%p
  This API is currently under development so this document may change as the
  API evolves. This document source is available at
  <a href="https://github.com/welcu/developer.welcu.com/tree/master/source/v1">
  it's GitHub repository</a> and we encourage developers to point out any
  problem with the API documentation or behavior, as well as any feature
  suggestion to our <a href="https://github.com/welcu/developer.welcu.com/issues">
  issue tracker</a>.
%p
  Undocumented data delivered through the API responses should be treated as
  experimental and their structure might change.
