%h4#attendee_by_ticket_code <small>3.2</small> Get attendee by ticket code
.meta
  .method GET
  .url /event/attendees/code/:code.json

.description
  This endpoint allows you to get the attendee associated to a given ticket code

  %h5 Available parameters
  %table.table.table-striped.well
    %col{width: '20%'}
    %col{width: '80%'}
    %thead
      %tr
        %th Parameter
        %th Description
    %tbody
      %tr
        %td code (required)
        %td
          The ticket code to query

  .example
    = code(line_numbers: false) do
      :plain
        curl -i -H 'Authorization: event TOKEN' \
          https://api.welcu.com/v1/event/attendees/code/sc1f5e6.json

  %h5 Response
  = code('json') do
    :plain
      {
        "id": 96,
        "first_name": "Seba",
        "last_name": "Gamboa",
        "organization": "Welcu",
        "title": "CTO",
        "email": "seba@welcu.com",
        "phone": null,
        "facebook_uid": "754027414",
        "reference_key": null,
        "tickets": [
          {
            "code": "SC1F5E6",
            "ticket_id": 15,
            "checked_at": "2012-11-16T08:27:05-03:00",
            "created_at": "2012-11-07T10:27:16-03:00"
          }
        ]
      }
