%h4#errors <small>1.3</small> Errors

.description
  Errors are delivered via <i>HTTP Status Codes</i>.

  %h5 401 Unauthorized
  %p This code is returned when the event token is wrong/disabled/empty
  %h5 404 Not Found
  %h5 422 Unprocessable Entity
