%h4#ticket_code_check <small>3.3</small> Check an attendee's ticket
.meta
  .method POST
  .url /event/attendees/code/:code/check.json

.description
  This endpoint allows you to get information about the event including it's
  company and tickets

.example
  = code do
    curl -i -H 'Authorization: event TOKEN' https://api.welcu.com/v1/event.json
  = code('javascript') do
    :plain
      {
        status:"OK"
      }
